<%- include("partials/header") -%>
<h1>About</h1>
<p>This is your personal space where you are free to share thoughts on whatever you like to share. Write to express, reveal or inspire, it's yours to decide!</p>
<%- include("partials/footer") -%>